text{
    font-size: 2em;
}

.legend_text{
    fill: #333333;
    font-size: 1em;
}

.date_text {
    font-weight: bold;
    font-size: 6em;
}

.province_text {
    fill: #333333;
    font-size: 1em;
}

.tick text{
    font-size: 1.6em;
    fill: #333333;
}

.tick line {
    stroke: #333333;
}

#population{
    font-size: 3em;
    stroke: #8E8883
}

#horsepower{
    font-size: 3em;
    stroke: #8E8883
}